<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Urlausbgluck</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:300" rel="stylesheet">
    <!-- build:css ../app_build/_css/vendor.css -->
    <!-- endbuild -->
    <!-- build:css ../app_build/_css/app.css -->
    <link rel="stylesheet" href="app.css"/>
    <!-- endbuild -->
</head>
<body>
    <div id="app">
        <!-- Promo section begin -->
        <header class="promo">
            <div class="container">
                <nav class="promo__nav nav">
                    <a href="#" class="text-logo text-logo--header" v-text="title"></a>
                    <div class="nav__auth">
                        <a href="#">Log in</a>
                        <a href="#" class="btn btn--stroked-light">Sign up</a>
                    </div>
                </nav>
                <div class="promo__call-to-action call-to-action">
                    <h1 class="call-to-action__title">Share your holiday dreams</h1>
                    <p class="call-to-action__subtitle">And find the perfect partner to fullfill it</p>
                    <button class="btn btn--call-to-action">Find your holiday partner</button>
                </div>
            </div>
        </header>
        <!-- Promo section end /-->

        <!-- How-it-works section begin -->
        <section class="how-it-works">
            <h2 class="section-title">How Urlaubsglück works?</h2>
            <div class="container">
                <Slider sliders="sliders" current="0"></Slider>
                <Slider sliders="sliders" current="1"></Slider>
                <Slider sliders="sliders" current="2"></Slider>
            </div>
        </section>
        <!-- How-it-works section end /-->

        <!-- Partners section begin -->
        <section class="partners">
            <h2 class="section-title">Meet a partner for your best holiday</h2>
            <div class="container">
                <div class="partner">
                    <div class="partner__img">
                        <img src="images/partner-1.jpg" alt="Bradley Hunter" />
                        <span class="partner__icon partner__icon--first"><i class="icon icon--tv"></i></span>
                    </div>
                    <div class="partner__name">Bradley Hunter</div>
                    <div class="partner__info">Based in Chicago. I love playing tennis and loud music.</div>
                </div>
                <div class="partner">
                    <div class="partner__img">
                        <img src="images/partner-2.jpg" alt="Heather Walker" />
                        <span class="partner__icon partner__icon--second"><i class="icon icon--mixture"></i></span>
                    </div>
                    <div class="partner__name">Heather Walker</div>
                    <div class="partner__info">I'm a happy person that loves cats and climbing on mountains.</div>
                </div>
                <div class="partner">
                    <div class="partner__img">
                        <img src="images/partner-3.jpg" alt="Lucas Marsha" />
                        <span class="partner__icon partner__icon--third"><i class="icon icon--coffee"></i></span>
                    </div>
                    <div class="partner__name">Lucas Marsha</div>
                    <div class="partner__info">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</div>
                </div>
                <div class="partner">
                    <div class="partner__img">
                        <img src="images/partner-4.jpg" alt="Bradley Hunter" />
                        <span class="partner__icon partner__icon--fourth"><i class="icon icon--plane"></i></span>
                    </div>
                    <div class="partner__name">Bradley Hunter</div>
                    <div class="partner__info">Based in Chicago. I love playing tennis and loud music.</div>
                </div>
            </div>
            <a href="#" class="btn btn--stroked-accent">See other partners</a>
        </section>
        <!-- Partners section end /-->

        <!-- Ideas section begin -->
        <section class="ideas">
            <h2 class="section-title">Discover holiday activity ideas</h2>
            <div class="container">
                <a v-for="idea in ideas"
                   class="idea"
                   v-bind:style="{ backgroundImage: 'url(' + idea.webformatURL + ')' }"
                   v-bind:href="idea.pageURL"
                   target="_blank"
                >
                    <div class="idea__title" v-text="idea.tags"></div>
                </a>
            </div>
        </section>
        <!-- Ideas section end /-->

        <!-- Search section begin -->
        <section class="search">
            <h2 class="section-title">Discover holiday activity ideas</h2>
            <form class="container" @submit="onSearchIdea">
                <p class="search__text">Hi! What are your holiday interests?</p>
                <div class="search__input-wrapper">
                    <input type="text" class="search__input" placeholder="Enter your interests" v-model="searchIdeaQuery" />
                    <button type="submit" class="btn btn--search" @click="onSearchIdea">Search partners</button>
                </div>
            </form>
        </section>
        <!-- Search section end /-->

        <!-- Footer begin -->
        <footer class="footer">
            <div class="container">
                <a href="#" class="text-logo text-logo--footer">URLAUBSGLÜCK</a>
                <nav class="footer__nav nav">
                    <h2 class="nav__title">Company</h2>
                    <div class="nav__links">
                        <a href="" class="nav__link">About</a>
                        <a href="" class="nav__link">Contacts</a>
                        <a href="" class="nav__link">Press</a>
                        <a href="" class="nav__link">Blog</a>
                    </div>
                </nav>
                <nav class="footer__nav nav">
                    <h2 class="nav__title">Partners</h2>
                </nav>
                <div class="footer__copyright copyright">
                    <div class="footer__copyright-wrapper">
                        <span class="copyright__text">Designed by</span>
                        <img src="images/logo.png" alt="URLAUBSGLÜCK" class="copyright__logo" />
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer end /-->
    </div>

    <!-- build:js ../app_build/_js/vendor.js -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- endbuild -->
    <!-- build:js ../app_build/_js/app.js -->
    <script src="app.js"></script>
    <!-- endbuild -->
</body>
</html>
