@import "../../global/variables";

.idea {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 5px 10px;
  min-height: 120px;
  position: relative;

  text-align: center;

  background: no-repeat center/cover;
  border-radius: 0.4em;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  &__title {
    padding: 0 10px;
    position: absolute;
    z-index: 2;

    color: $text-color-light;
    font-size: 22px;
    font-weight: 700;
  }
}