i.icon--tv {
  background: url(../../images/sprite/icon-1.svg) no-repeat center;
  height: 18px;
  width: 18px;
}
i.icon--mixture {
  background: url(../../images/sprite/icon-2.svg) no-repeat center;
  height: 18px;
  width: 12px;
}
i.icon--coffee {
  background: url(../../images/sprite/icon-3.svg) no-repeat center;
  height: 17px;
  width: 18px;
}
i.icon--plane {
  background: url(../../images/sprite/icon-4.svg) no-repeat center;
  height: 17px;
  width: 18px;
}
