// Fonts
$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;

// Colors
$main-color: #fff;
$accent-color: #ff4e50;
$text-color-light: #fff;
$text-color-dark: #333;

// Media queries
$tablet: 768px;
$desktop: 940px;