@import "../../global/variables";

.nav {
  &__title {
    margin: 0 0 5px;
    padding: 0;

    color: $text-color-dark;
    font-size: 14px;
    font-weight: 700;
  }
  &__link {
    margin-right: 10px;

    color: #666;
    font-family: $roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;

    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
      color: $accent-color;
      text-decoration: underline;
    }
  }
}